header{
    background-color: rgb(0, 255, 98);
    width: 100%;
    
}
header nav{
    width: 80%;
    background-color: blue;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
header nav .logo{
    
}